.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.arcade-container {
  border: 10px solid #fff;
  padding: 20px;
  background-color: #222;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.arcade-screen {
  width: 800px;
  height: 600px;
  position: relative;
  overflow: hidden;
}
